<div align='center'>
  <mat-card-title>{{ data.name }}</mat-card-title>
  <mat-divider></mat-divider>
  <form [formGroup]="dynamicFormGroup">
    <section *ngFor="let field of form$ | async">
      <app-edit-field [isEditable]="true" [formInput]="true"
                      [control]="$any(dynamicFormGroup).controls[field.name]"
                      [title]="field.name"
                      [classForm]="'outline'"
                      [type]="field.type">
      </app-edit-field>
    </section>

    <mat-divider></mat-divider>

    <mat-dialog-actions align="end">
      <app-button [textButton]="'Valider'" (clickMethod)="submit.bind(this)"
                  [disabledButton]="dynamicFormGroup.invalid"></app-button>
    </mat-dialog-actions>
  </form>
</div>

