.header {
  color: darkred;
  background-color: black;
}

.flex-spacer {
  flex-grow: 1;
}

.btnConnect {
  margin-right: 10px;
}

.name {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  cursor: pointer;
  border: aquamarine 10px;
}
