<ng-container *ngIf="isProUser()">
  <app-button (clickMethod)="newTicket()" [colorBtn]="'yellow'" class="addTicket" [textButton]="'Ajouter un ticket'"></app-button>
</ng-container>

<ng-container *ngIf="(tickets$ | async) as ticket" >
  <mat-card *ngFor="let ticket of (tickets$ |async)" class="m-5">

    <mat-card-header>
      <app-edit-field [title]="'Nom :'" [value]="test(ticket)"></app-edit-field>
    </mat-card-header>

    <mat-card-content>
      <app-edit-field [title]="'Date de début : '"
                      [type]="'Date'"
                      [value]="getDate(ticket.startDate)"
                      [isEditable]="isProUser()"
                      (contentWhileEditingChange)="updateStartDate(ticket, $event)"></app-edit-field>

      <app-edit-field [title]="'Date de fin : '"
                      [type]="'Date'"
                      [value]="getDate(ticket.endDate)"
                      [isEditable]="isProUser()"
                      (contentWhileEditingChange)="updateEndDate(ticket, $event)"></app-edit-field>

      <app-edit-field [title]="'Prix :'"
                      [value]="ticket.price"
                      [type]="'number'"
                      [isEditable]="isProUser()"
                      (contentWhileEditingChange)="updatePriceTicket(ticket, $event)"></app-edit-field>

      <app-edit-field [title]="'Nombre de ticket en vente :'"
                      [value]="ticket.quantite"
                      [type]="'number'"
                      [isEditable]="isProUser()"
                      (contentWhileEditingChange)="updateNumberTicket(ticket, $event)"></app-edit-field>

      <app-edit-field [title]="'Ville :'"
                      [value]="ticket.position"
                      [isEditable]="isProUser()"
                      (contentWhileEditingChange)="updatePosition(ticket, $event)"></app-edit-field>

      <app-edit-field [title]="'Limit d age :'"
                      [value]="ticket.limitAge"
                      [type]="'number'"
                      [isEditable]="isProUser()"
                      (contentWhileEditingChange)="updateLimitAge(ticket, $event)"></app-edit-field>

    </mat-card-content>

    <div *ngIf="isProUser()" class="d-flex justify-content-end my-4">
      <button class="btn-flat" (click)="deleteTicket(ticket.id, ticket)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div *ngIf="user$ | async as user" class="d-flex justify-content-end my-4">
      <app-input-field [type]="'number'" [control]="nbToBuyCtrl" [title]="'Quantite voulu : '"></app-input-field>
      <button class="btn-flat" (click)="buyTicket(user, ticket)">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card>

</ng-container>

