<ng-container *ngIf="isProUser()">
  <app-button (clickMethod)="newTicket()" [colorBtn]="'yellow'" class="addTicket" [textButton]="'Ajouter un ticket'"></app-button>
</ng-container>

<ng-container *ngIf="(tickets$ | async) as ticket">
  <mat-card *ngFor="let ticket of (tickets$ |async)">

    <mat-card-header>
      <app-edit-field [title]="'Nom :'" [value]="test(ticket)"></app-edit-field>
    </mat-card-header>

    <mat-card-content>
      <app-edit-field #price
                      [title]="'Prix :'"
                      [value]="ticket.price"
                      [isEditable]="isProUser()"
                      (contentWhileEditingChange)="updatePriceTicket(ticket, $event)"></app-edit-field>

      <app-edit-field #nbTickets
                      [title]="'Nombre de ticket en vente :'"
                      [value]="ticket.quantite"
                      [isEditable]="isProUser()"
                      (contentWhileEditingChange)="updateNumberTicket(ticket, $event)"></app-edit-field>

      <app-edit-field #address
                      [title]="'Ville :'"
                      [value]="ticket.position"
                      [isEditable]="isProUser()"
                      (contentWhileEditingChange)="updatePosition(ticket, $event)"></app-edit-field>

    </mat-card-content>

    <div *ngIf="isProUser()" class="d-flex justify-content-end my-4">
      <button class="btn-flat" (click)="deleteTicket(ticket.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </mat-card>
</ng-container>

